<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Quiz - Start</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")"/>
    </head>
    <body id="startpage">
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
            </ul>
        </nav>
        
        <section role="main" id="quiz">
        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
