@(form: Form[models.User])

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Messages("header.banner")  @Messages("jeopardy") @Messages("register")</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")"/>
    <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
</head>
<body id="register-page">
<a title="@Messages("jumpRegister")" class="accessibility" href="#register">@Messages("jumpRegister")</a>

<!-- Header -->
<header role="banner" aria-labelledby="bannerheading">
    <h1 id="bannerheading">
        <span class="accessibility">@Messages("header.banner") </span><span class="gametitle">@Messages("jeopardy")</span>
    </h1>
</header>

<!-- Navigation -->
<nav role="navigation" aria-labelledby="navheading">
    <h2 id="navheading" class="accessibility">@Messages("navigation")</h2>
    <ul>
        <li><a class="orangelink navigationlink" id="loginlink" title="@Messages("loginlink")" href="@routes.Application.authentication()" accesskey="l">@Messages("LoginButton")</a></li>
    </ul>
</nav>

<!-- Content -->
<div id="register" role="main">
    <!-- Register section -->
    <h2 id="registerheading" class="accessibility">@Messages("register")</h2>

        @import views.formView._
        @helper.form(routes.Application.newUser()) {
        <fieldset>
            <legend>@Messages("personalData")</legend>
            @helper.inputText(form("firstname"), 'id -> "firstname", '_label -> Messages("firstname"))
            @helper.inputText(form("lastname"), 'id -> "lastname", '_label -> Messages("lastname"))

            @helper.inputDate(form("birthdate"), 'id -> "birthdate", '_showConstraints -> false, '_error -> Messages("birthdateFormat"), '_label -> Messages("birthdate"))(dateInput, implicitly[Lang])

            @helper.select(form("gender"), options = Gender.values().toList.map(v => (v.toString, v.text())), '_label -> Messages("gender"))
        </fieldset>
        <fieldset>
            <legend>@Messages("playerdata")</legend>
            @helper.select(form("avatarName"), options = Avatar.values().toList.map(v => (v.toString(), v.getName())), '_label -> Messages("avatarlabel"))
            @for(error <- form("formError").errors) {
            <div id="error_msg_name" class="error" role="alert"> @error.message </div>
            }

            @helper.inputText(form("username"), 'id -> "username", '_showConstraints -> false, '_label -> Messages("usernameRequired"))(textInput, implicitly[Lang])
            @helper.inputPassword(form("password"), 'id -> "password", '_showConstraints -> false, '_label -> Messages("passwordRequired"))(textInput, implicitly[Lang])

            <input class="greenlink formlink" id="registersubmit" type="submit" value="@Messages("register")" accesskey="s"/>
            <p id="requiredhint">@Messages("requiredFields")</p>
        </fieldset>
        }

</div>

<!-- Footer -->
<footer role="contentinfo">@Messages("footer")</footer>

<script type="text/javascript">
    //<![CDATA[

    $(document).ready(function() {
        if (areAllFieldsValid()) {
            $('input[type="submit"]').removeAttr('disabled');
        }else{
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
    });

    function areAllFieldsValid() {
        var valid;
        if(hasFormValidation()){
            valid = $('form')[0].checkValidity();
        }else{
            valid = !(isUsernameInvalid($("#username").val()) || isPasswordInvalid($("#password").val()));
        }
        if(!hasNativeDateInput()){
            valid = valid && !isBirthdayInvalid("birthdate");
        }
        return valid;
    }

    function updateSubmitState() {
        if (areAllFieldsValid()) {
            $('input[type="submit"]').removeAttr('disabled');
        }else{
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
    }

    function updateFieldValidity(isInvalid, fieldSelector, messageSelector) {
        if(isInvalid) {
            $(fieldSelector).addClass('error');
            $(messageSelector).removeClass('hide');
        } else {
            $(fieldSelector).removeClass('error');
            $(messageSelector).addClass('hide');
        }
    }

    /*
     * Birth Date
     */
    $("#birthdate").keyup(function (event) {
        if(hasFormValidation()){
            this.setCustomValidity("");
        }

        var isInvalid;
        if(!hasFormValidation() || !hasNativeDateInput()){
            isInvalid = isBirthdayInvalid("birthdate");
        }else{
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#birthdate", "#error_msg_birthdate");
        updateSubmitState();
    });

    /*
     * Checks if the input with the given id is a valid birthdate or not
     */
    function isBirthdayInvalid(id){
        re = /^(\d{1,2})\.(\d{1,2})\.(\d{4})$/;
        value = getNormalizedDateString("#"+id);
        console.log(value);
        if (value != '') {
            if (regs = value.match(re)) {
                if (regs[1] < 1 || regs[1] > 31) {
                    return true;
                }
                if (regs[2] < 1 || regs[2] > 12) {
                    return true;
                }
                if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear() + 100) {
                    return true;
                }
                return false;
            }else{
                return true;
            }
        } else {
            return false;
        }
    }

    /*
     * User Name
     */
    $("#username").keyup(function (event){
        if(hasFormValidation()){
            this.setCustomValidity("");
        }

        var isInvalid;
        if(!hasFormValidation()){
            isInvalid = isUsernameInvalid($(event.target).val());
        }else{
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#username", "#error_msg_username");
        updateSubmitState();
    });

    /*
     *  checks if the given input value is a valid username or not
     */
    function isUsernameInvalid(value) {
        return value.length < 4 || value.length > 8;
    }

    /*
     * Password
     */
    $("#password").keyup(function (event){
        if(hasFormValidation()){
            this.setCustomValidity("");
        }

        var isInvalid;
        if(!hasFormValidation()){
            isInvalid = isPasswordInvalid($(event.target).val());
        }else{
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#password", "#error_msg_password");
        updateSubmitState();
    });

    /*
     *   checks if the given input value is a valid username or not
     */
    function isPasswordInvalid(value) {
        return value.length < 4 || value.length > 8;
    }
    //]]>
</script>
</body>
</html>
