@charset "utf-8";
/* CSS Document */
@import url("general.css");

.correct {
	border-style: solid;
	border-color: green;
	border-width: 0.1em;
	color: green;
	margin-top: 0.5%;
}

.wrong {
	border-style: solid;
	border-color: red;
	border-width: 0.1em;
	color: red;
	margin-top: 0.5%;
}

.standard {
	border-style: solid;
	border-color: #000;
	border-width: 0.1em;
	margin-top: 0.5%;
}

.container {
	float: left;
	margin: 0.8%;
	width: 10em;
	display: inline;
	vertical-align: middle;
}

aside {
	width: 15%;
	height: 100%;
	float: right;
}

#main {
	width: 80%;
	height: 100%;
	float: left;
}

#history {
	text-align: center;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#wrapper_selection{
	width: 100%;
	margin-top: 2%;
}

#selection {
	margin-left:5%;
	margin-right:5%;
	width: auto;
}

#selection label {
	float: left;
	width: 10em;
	margin: 0.2%;
	border-radius: 4px;
	border-style: solid;
	border-width: 0.1em;
	border-color: #000;
	overflow: auto;
}

#selection label span {
	position: absolute;
	top: -20px;
}

#selection label a {
	text-align: center;
	font-size: 1em;
	padding: 10% 0;
	display: block;
}

#selection label input {
	position: absolute;
	top: -20px;
}

#selection input:checked+a {
	background-color: #ee7100;
	color: #fff;
}

#selection input:hover:enabled+a {
	background-color: #ee7100;
	color: #fff;
	cursor: pointer;
}

#selection input:disabled+a {
	background-color: #e8ebf3;
	color: #C4C4C4;
}

.level {
	color: #fff;
	text-shadow: 1px 1px 3px #666666;
	text-align: center;
	background: #2980b9;
	background-image: -webkit-linear-gradient(top, #2980b9, #2d4883);
	background-image: -moz-linear-gradient(top, #2980b9, #2d4883);
	background-image: -ms-linear-gradient(top, #2980b9, #2d4883);
	background-image: -o-linear-gradient(top, #2980b9, #2d4883);
	background-image: linear-gradient(to bottom, #2980b9, #2d4883);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
}

.category {
	color: #000;
	text-shadow: 1px 1px 3px #666666;
	text-align: center;
	background: #ee7100;
}

#selectionBottom {
	float: right;
	margin: 0.8%;
	width: 90%;
	display: block;
	vertical-align: middle;
}

#chooseBtn {
	float: right;
	color: white;
	border-style: solid;
	border-width: 0.1em;
	border-color: #000;
	border-radius: 0.25em;
	background-color: #2dc73b;
	height: 2em;
	width: 8em;
	color: white;
}

/* <---------- mobile attributes ---------->*/
@media screen and (max-width: 701px) {
	aside {
		float: left;
		width: 100%;
		height: 15%;
		display: block;
		position: relative;
	}
	#main {
		width: 100%;
	}
	.container {
		margin: 1%;
		width: 100%;
		display: block;
		vertical-align: middle;
	}
	#history {
		margin: 1%;
		text-align: center;
		width: 100%;
	}
	#selection {
		margin: 0 2% 0 0;
		width: 100%;
		height: 90%;
	}
	#selection label {
		display: block;
		width: 100%;
		margin-left: 1%;
		margin-right: 1%;
	}
	#selection label a {
		padding: 3% 0;
		display: block;
	}
	#selectionBottom {
		float: right;
		margin: 0.8%;
		width: 90%;
		display: block;
		vertical-align: middle;
	}
}