@charset "utf-8";
/* CSS Document */
html, body {
	background-image: linear-gradient(#e8ebf3, #d3d8e8);
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #2d4983;
	height: auto;
	position: relative;
	padding: 0.5%;
}

#bigLogo {
	vertical-align: middle;
	margin-right: 0.5%;
}

#jeoprady {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
}

#loginBtn, #logoutBtn {
	vertical-align: middle;
	color: #fff;
	background-color: #ee7100;
	text-align: center;
	text-decoration: none;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-right: 0.5em;
	width: 7em;
	height: 1.5em;
	float: right;
}

#wrapper {
	width: 98%;
	margin: 1%;
}

#inner {
	width: auto;
}

#sexRadioBox {
	width:50%;
	float:right;
}


#labelSex {
	width:auto;
}

.register {
	float: right;
	color: white;
	border-style: solit;
	border-width: 0.1em;
	border-color: #000;
	border-radius: 0.25em;
	background-color: #CCC;
	height: 2em;
	width: 8em;
}

.register_active {
	float: right;
	color: white;
	border-style: solit;
	border-width: 0.1em;
	border-color: #000;
	border-radius: 0.25em;
	background-color: #2dc73b;
	height: 2em;
	width: 8em;
}

.inputgroups {
	margin-bottom: 6%;
}

#pflichtFelder {
	float: right;
}

#hinweis {
	float: left;
	text-align: center;
}

#errors {
	float: left;
	line-height: 1.5em;
}

h1 {
	color: #006bac;
	font-size: 2em;
	line-height: 2em;
}

.labels {
	width: 100%;
	color: #000;
}

.fields {
	width: 100%;
	height: 1.5em;
	float: right;
	border-style: solit;
	border-width: 0.1em;
	border-color: #000;
	border-radius: 0.25em;
}

.pflichtFelder {
	text-align: center;
}

footer {
	text-align: center;
	position:absolute;
    bottom: 1%;
    width: 100%;
    
	
}

.correct {
	border-style: solid;
	border-color: #0F3;
	border-width: 0.1em;
}

.wrong {
	border-style: solid;
	border-color: #F00;
	border-width: 0.1em;
}

.standard {
	border-style: solid;
	border-color: #000;
	border-width: 0.1em;
}

.container {
	color: #000;
	background-color: #ee7100;
	text-align: center;
	text-decoration: none;
	float: right;
	margin: 1.5%;
	width: 10em;
	height: 1.5em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #000;
}

.level {
	color: #fff;
	background-color: #2d4883;
	text-align: center;
	text-decoration: none;
	float: right;
	margin: 1.5%;
	width: 10em;
	height: 1.5em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #000;
}

#inputerror {
	color: #ff0000;
}