@charset "utf-8";
/* CSS Document */


body{
	background-image: linear-gradient(#f0f1f7, #99aded);
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	height: 100%;
}

header {
	background-color: #2d4983;
	height: auto;
	position: relative;
	padding: 0.5%;
}

#bigLogo{
	vertical-align: middle;
	margin-right: 0.5%;
}

#jeoprady{
	vertical-align: middle;
	font-weight: bold;
	font-size: 2em;
	color: #fff;
}



#loginBtn, #logoutBtn {
	vertical-align:middle;
	color: #fff;
	background-color: #ee7100;
	text-align: center;
	text-decoration: none;
	/*margin:1.5%;*/
	width: 10em;
	height: 1.5em;
	float: right;
}

#regData{
	margin-left:auto;
	margin-right: auto;
	width: 50em;
	position: relative;
}

h1{
		color:#006bbe;	
}

.labels{
		width: 12em;
		color:#000;
		vertical-align:middle;
		float: left;
}


.fields{
			vertical-align:middle;
			width: auto;
}

#register{
	vertical-align:middle;	
}

.pflichtFelder{
	text-align: center;
}

footer{
	text-align:center;
	margin: 0.5%;
}

.correct{
	border-style: solid;
	border-color: #0F3;
	border-width:0.1em;
		
}

.wrong{
	border-style: solid;
	border-color: #F00;
	border-width:0.1em;
		
}

.standard{
	border-style: solid;
	border-color: #000;
	border-width:0.1em;
		
}

.container{
	color: #000;
	background-color: #ee7100;
	text-align: center;
	text-decoration: none;
	float:right;
	margin:1.5%;
	width: 10em;
	height: 1.5em;	
	border-style: solid;
	border-width:0.1em;
	border-color: #000;
}

.level{
	color: #fff;
	background-color: #2d4883;
	text-align: center;
	text-decoration: none;
	float:right;
	margin:1.5%;
	width: 10em;
	height: 1.5em;	
	border-style: solid;
	border-width:0.1em;
	border-color: #000;	
}

#inputerror{
	color: #ff0000;
}